name: Go-Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.19

    - uses: actions/checkout@v3

    - name: Sync vendor directory
      run: go mod vendor

    - name: Run the golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.6.2
        args: --timeout=5m
